*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.total li{
    display: inline-block;
    font-size: 1.6rem;
    margin: 1rem 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    right: -88rem;
    top: -3rem;
    /* float: right; */
}
body{
    position: absolute;
    left: 0;
    width: 80vw;
    background-image: url(./img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.logo{
    display: inline-block;
    right: 10rem;
    font-size: 1.6rem;
    margin: 1.6rem 0;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

  
  aside, section {
    display: inline-block;
    height: 80vh;
  }
  
  aside {
    width: 18vw;
    background-color: rgba(223, 222, 222, 0.8);
    border-radius: 4rem;
  }
  
  aside div {
    height: 14vh;
    margin: 3vh;
    border-radius: 1rem;
    background-color: rgb(88, 88, 88,0.2);
  }
  
  .seccion {
    position: absolute;
    left: 19vw;
    width: 80vw;
    padding: 1rem;
    border-right: 4rem;
    border-radius: 2rem;
    background-color: rgba(223, 222, 222, 0.8);
  }

div,p{
    font-size: 2.6rem;
    color: white;
}
.redes,.info{
display: inline-block;
margin: 1.6rem;
}
.info{
    right: 1rem;
    position: absolute;
}
footer{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}
.redes{
    font-size: 2.6rem;
    color: white;

}


div a i{
    display:inline-block;
    left: -30rem;

}